
.grid-container {
	display: grid;
}
.sidenav {
	grid-template-columns: 200px auto;
	grid-template-rows: auto 50px;
}
.main-content {
	grid-column: 1 / 3;
	grid-row: 1;
	height: calc(100vh - 50px)
}
.main-footer {
	grid-column: 1 / 3;
}

.wrapper {
	display: flex;
	height: 100%
}
.sidebar {
	flex: 1 1 50px;
	height: 100%;
}
.content {
	flex: 1 1 100%;
}
.menu-top {
	height: 50px;
	width: 100%;
}