<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DKM Masjid</title>
  <link rel="icon" href="/static/images/masjid.jpg">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/grid.css">
</head>

<body class="">
  <div class="grid-container sidenav">
    
    <div class="main-content">
      <div class="wrapper">
        <section class="sidebar">
          <div class="menu-top"></div>
        </section>
		    
		    <section class="content">
		      <div class="menu-top"></div>
		      <div class="">
		      <%block name="content" />
		      </div>
		    </section>
	    </div>
	  </div>
	  
	  <footer class="main-footer"></footer>
  </div>
</body>
</html>